body{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: blueviolet;
    text-align: center;
    color: white;
    margin: 8px;
    padding: 12px;
    font-size: 30px;
}
main{
    text-align: center;
    flex-direction: row;
}
form{
    text-align: right;
    padding-right: 35px;
    color: brown;
    height: auto;
}
footer{
    text-align: center;
    position: absolute;
    width: 100%;
    background: #05e2ffd2;
    color: black;
}
table{
    border-collapse: collapse;
    width: 50%;
    text-align: center;
}
td, th{
    border: solid 2px;
}
.nac-1{
    padding-left: 45px;
    padding: 5%;
}
.nac-2{
    padding-left: 45px;
}